<ng-container *ngIf="chars && dataSource && frmMainChars">
<form  [formGroup]="frmMainChars">
  <table mat-table [dataSource]="dataSource" formArrayName='chars'>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let frmChars; columns: displayedColumns"></mat-row>

    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let frmChar;" [formGroup]="frmChar"> <mat-checkbox  formControlName="selected"></mat-checkbox></mat-cell>
    </ng-container>
    <ng-container matColumnDef="notReportabled">
      <mat-header-cell *matHeaderCellDef> notReportabled </mat-header-cell>
      <mat-cell *matCellDef="let frmChar;" [formGroup]="frmChar"> <mat-checkbox  formControlName="notReportabled"></mat-checkbox></mat-cell>
    </ng-container>

    <ng-container matColumnDef="isElement">
      <mat-header-cell *matHeaderCellDef> isElement </mat-header-cell>
      <mat-cell *matCellDef="let frmChar;" [formGroup]="frmChar"> <mat-checkbox  formControlName="isElement"></mat-checkbox></mat-cell>
    </ng-container>
    <ng-container matColumnDef="alias">
      <mat-header-cell *matHeaderCellDef> alias </mat-header-cell>
      <mat-cell *matCellDef="let frmChar;" [formGroup]="frmChar"><input type="text" formControlName="alias" name="alias" id="alias"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let frmChar;" [formGroup]="frmChar">{{ frmChar.get('id').value }} <input type="hidden" formControlName="id" name="id" /> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Characteristic </mat-header-cell>
      <mat-cell *matCellDef="let frmChar;" [formGroup]="frmChar"> {{ frmChar.get('name').value }} <input type="hidden" formControlName="name" name="name" /> </mat-cell>
    </ng-container>
  </table>
  <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 25, 100]">
  </mat-paginator>
</form>
</ng-container>
